# CROWler version to "docker pull"
#CROWLER_VERSION=2.0.3
CROWLER_VERSION=latest

# CROWler VDI version to "docker pull"
CROWLER_VDI_VERSION=4.28.1-20260807
#CROWLER_VDI_VERSION=latest

# The name of the CROWler-DB container/service
DOCKER_DB_HOST='crowler-db'

# The PostgreSQL superuser password
DOCKER_POSTGRES_PASSWORD=''

# The CROWler database user (non-privileged PostgreSQL user)
DOCKER_CROWLER_DB_USER='crowler'

# The CROWler database user password
DOCKER_CROWLER_DB_PASSWORD=''

# Selenium/VDI password. Set this before Kubernetes or Helm deployment.
SEL_PASSWD=''

# Other .env variables may be added as required by CROWler configuration,
# plugins, rules, mail connectors, proxies, telemetry, and integrations.
